/*
// **************************************************** //
    TITOL: plantilla_layout.css

    DATA/VERSIO: YYYYMMDD / 1.0.0
    AUTOR:

    DESCRIPCIO:

    Arxiu que defineix el layout de la app

    import: plantilla_colors.css

    format:  scheme_layout.css
    exemple: scheme_layout.css

// **************************************************** //
*/

/* BASIC RESET *************************************************************** */
/* Nota: substituir per normalize.css si escau */
*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS I FONTS ************************************************************ */
/* Tot aixo esta ja definit al arxiu colors_theme.css i es carrega segons el   */
/* theme seleccionat                                                           */

/* BODY ********************************************************************** */
body{
    /* Definim un 'default' per tots els elements de la web */
    background-color: var(--bg_color00);
    color: var(--font_color00);
    font-family: var(--font-family00);
    font-size: var(--font-size00);
}

/* ********************  ESTRUCTURA DE CLASES I IDS  ************************* */
/* *************************************************************************** */
/* PAGINA ******************************************************************** */
/*      HEADER *************************************************************** */
/*          TITLE ************************************************************ */
/*          NAVS ************************************************************* */
/*              NAVLINKS ***************************************************** */
/*              TSLINKS ****************************************************** */
/*      MAIN ***************************************************************** */
/*          LOADER *********************************************************** */
/*          CONTENT ********************************************************** */
/*              HOME ********************************************************* */
/*              LLISTAT ****************************************************** */
/*                  FILTRE *************************************************** */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              DETALL ******************************************************* */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              COMBAT ******************************************************* */
/*                  FILTRE *************************************************** */
/*                      LLISTAPOKES ****************************************** */
/*                          POKECARD ***************************************** */
/*              CONTACT ****************************************************** */
/*      FOOTER *************************************************************** */
/* *************************************************************************** */

/*
PLANTILLA PAGINA 
div.pageContainer{}
    header{}  
        // mainHeaderV2 Component (mainHeaderV2.vue)
        div.mainHeader{}
            div.mainTitle{}
            nav.mainNav{}
                ul.navLinks{}
                ul.tsLinks{}
                    li.linkActivat{}     

    main{}
        //mainHome Component (mainHomeV1.vue)
        div.loader{}
        div.contents{}
                    
    footer{} 
        //mainFooter Component (mainFooter.vue)

MAIN HOME CONTENTS
            // mainHome Component 
            div.mainHome{} 

MAIN LLISTAT CONTENTS 
            // llistatAmbFiltre Component (llistatAmbFiltre.vue) 
            div.blocFilter{}
                div.filtre{}
                    form.filtre1{}
                div.llistats{}
                    // pokeLlistat Component (pokellistatV1.0.vue) //
                    div.pokeLlistat{}
                        ul.llistatPokes0{}
                            // pokeCard0 Component (pokeCardV2.1.vue) 
                            div.pokeContainer{}
                                section.poke_tapa{}
                                section.poke_contingut{}
                                    div.pokeImg{}
                                    div.pokeData{}
                                    div.pokeControls{}

MAIN DETALL CONTENTS 
            // pokeCard0 Component (pokeCardV2.1.vue") 

MAIN COMBAT 
             // combatAmbFiltre Component (combatAmbFiltre.vue)
                           
MAIN CONTACT CONTENTS
            // contact Component (mainContacteV1.vue) 
            div.contacteDades{}
            div.contacteForm{}
            div.contacteMap{}
            div.contacteVideo{}
            div.contacteLinks{}
*/

/* ASIGNACIONS REALS DE CLASES */
div.pageContainer{
    position:relative;
    margin: 1.5rem auto;
    border: red solid 5px;
    /* border: var(--color03) solid 25px; */
    border-radius: 0 2rem 0 2rem;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    width:90%;
}

header, main, footer {
    width: 100%;
    border: blue solid 2.5px;
    /*border-radius: 2rem;*/
    min-height:25px
}

footer{display:flex;justify-content: space-around;}